.filterList{
    display: flex;
    flex-wrap: wrap;
}

.filterList_entry_div{

    text-align: center;
    border: 1px solid var(--marketplace-lightgrey);
    background: var(--marketplace-whitegrey);
    border-radius: var(--marketplace-border-radius);
    color: var(--darkgrey);
    font-size: var(--marketplace-font-size-medium);
    font-weight: 400;
    line-height: 1.5;
    margin: 1px 3px;
    padding: 4px 4px 4px 10px;
    word-break: keep-all;
    display: flex;
}

.filterList_entry_delete{
    vertical-align: bottom;
    font-size: 20px;
    cursor: pointer;
    line-height: 1.2;

}