
.tiles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    height: 850px;
}

.object-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .tiles-grid {
        grid-template-columns: repeat(2, 1fr);
        height: unset;
    }
}

@media screen and (max-width: 767px) {
    .tiles-grid {
        grid-template-columns: repeat(1, 1fr);
        height: unset;
    }
}


